//Theme colors
  $black: #000;
  $white: #fff;
  $primary: #303030;
  $secondary: #707188;
  $base_color1: #656565;
  $base_color2: #F7F9FC;
 



  
//Theme fonts
  $primary_font: 'Urbanist', sans-serif;

  $red: #D9001C;

// Accent colors
  $accent1: #0046BE;
  $accent2: #010A44;
  