//Theme colors
  $black: #000;
  $white: #fff;
  $primary: #303030;
  $secondary: #707188;



  
//Theme fonts
  $primary_font: 'Urbanist', sans-serif;



// Accent colors
  $blue: #0046BE;
  $red: #D9001C;