@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

.cs_font_14 {
  font-size: 14px;
}

.cs_font_16 {
  font-size: 16px;
}

.cs_font_18 {
  font-size: 18px;
}

.cs_font_38 {
  font-size: 38px;
}

.cs_uppercase {
  text-transform: uppercase;
}

.cs_inline_block {
  display: inline-block;
}

.cs_inline_flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.cs_text_center {
  text-align: center;
}

.cs_product_wish_icon {
  cursor: pointer;
  position: relative;
  right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.cs_product_wish_icon svg {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #010A44;
  stroke: #fff;
  stroke-width: 0.5;
}

.cs_product_wish_icon > .cs_icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: #D9001C;
  display: none;
}

.cs_product_wish_icon.wished svg {
  display: none;
}

.cs_product_wish_icon.wished .cs_icon {
  display: block;
}

.cs_zoom {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.cs_zoom:hover .cs_zoom_in {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cs_animated_border.cs_style1 {
  position: relative;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.cs_animated_border.cs_style1::before {
  -webkit-transition: inherit;
  transition: inherit;
  position: absolute;
  content: "";
  height: 1px;
  width: 60%;
  background-color: #303030;
  bottom: -5px;
}

.cs_animated_border.cs_style1:hover::before {
  width: 100%;
}

.cs_overflow_hidden {
  overflow: hidden;
}

.cs_white_color,
.cs_white_color_hover:hover {
  color: #fff;
}

.cs_white_bg,
.cs_white_bg_hover:hover {
  background-color: #fff;
}

.cs_black_color,
.cs_black_color_hover:hover {
  color: #000;
}

.cs_black_bg,
.cs_black_bg_hover:hover {
  background-color: #000;
}

.cs_primary_color,
.cs_primary_color_hover:hover {
  color: #303030;
}

.cs_primary_bg,
.cs_primary_bg_hover:hover {
  background-color: #303030;
}

.cs_secondary_color,
.cs_secondary_color_hover:hover {
  color: #707188;
}

.cs_secondary_bg,
.cs_secondary_bg_hover:hover {
  background-color: #707188;
}

.cs_accent_color1,
.cs_accent_color1_hover:hover {
  color: #0046BE;
}

.cs_accent_bg1,
.cs_accent_bg1_hover:hover {
  background-color: #0046BE;
}

.cs_accent_color2,
.cs_accent_color2_hover:hover {
  color: #010A44;
}

.cs_accent_bg2,
.cs_accent_bg2_hover:hover {
  background-color: #010A44;
}

.cs_base_color1,
.cs_base_color1_hover:hover {
  color: #656565;
}

.cs_base_bg1,
.cs_base_bg1_hover:hover {
  background-color: #656565;
}

.cs_base_color2,
.cs_base_color2_hover:hover {
  color: #F7F9FC;
}

.cs_base_bg2,
.cs_base_bg2_hover:hover {
  background-color: #F7F9FC;
}

/**
 Theme Name: Project Name
 Author: Author_name
 Developer: Enter your name
 Version: 1.0.0
 */
/*Google Fonts*/
/*--------------------------------------------------------------
>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. Typography
2. Spacing
3. General Style

--------------------------------------------------------------*/
/*--------------------------------------------------------------
1. Typography
----------------------------------------------------------------*/
body,
html {
  color: #707188;
  background-color: #fff;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h3,
h6 {
  clear: both;
  color: #303030;
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  line-height: 1.2em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

p {
  margin-bottom: 12px;
}

ul {
  margin: 0 0 15px 0;
  padding-left: 15px;
  list-style: square outside none;
}

ol {
  padding-left: 15px;
  margin-bottom: 15px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 15px;
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 991px) {
  body,
  html {
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
3. General Style
----------------------------------------------------------------*/
.cs_mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cs_space_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cs_zoom {
  position: relative;
  overflow: hidden;
}

.cs_zoom .cs_zoom_in {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cs_zoom:hover .cs_zoom_in {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.cs_vertical_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.cs_vertical_middle .cs_vertical_middle_in {
  width: 100%;
}

.cs_bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cs_sticky_footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/*--------------------------------------------------------------
2. Spacing
----------------------------------------------------------------*/
@media screen and (min-width: 992px) {
  .cs_height_b0 {
    height: 0px;
  }
  .cs_height_b5 {
    height: 5px;
  }
  .cs_height_b10 {
    height: 10px;
  }
  .cs_height_b15 {
    height: 15px;
  }
  .cs_height_b20 {
    height: 20px;
  }
  .cs_height_b25 {
    height: 25px;
  }
  .cs_height_b30 {
    height: 30px;
  }
  .cs_height_b35 {
    height: 35px;
  }
  .cs_height_b40 {
    height: 40px;
  }
  .cs_height_b45 {
    height: 45px;
  }
  .cs_height_b50 {
    height: 50px;
  }
  .cs_height_b55 {
    height: 55px;
  }
  .cs_height_b60 {
    height: 60px;
  }
  .cs_height_b65 {
    height: 65px;
  }
  .cs_height_b70 {
    height: 70px;
  }
  .cs_height_b75 {
    height: 75px;
  }
  .cs_height_b80 {
    height: 80px;
  }
  .cs_height_b85 {
    height: 85px;
  }
  .cs_height_b90 {
    height: 90px;
  }
  .cs_height_b95 {
    height: 95px;
  }
  .cs_height_b100 {
    height: 100px;
  }
  .cs_height_b105 {
    height: 105px;
  }
  .cs_height_b110 {
    height: 110px;
  }
  .cs_height_b115 {
    height: 115px;
  }
  .cs_height_b120 {
    height: 120px;
  }
  .cs_height_b125 {
    height: 125px;
  }
  .cs_height_b130 {
    height: 130px;
  }
  .cs_height_b135 {
    height: 135px;
  }
  .cs_height_b140 {
    height: 140px;
  }
  .cs_height_b145 {
    height: 145px;
  }
  .cs_height_b150 {
    height: 150px;
  }
  .cs_height_b155 {
    height: 155px;
  }
  .cs_height_b160 {
    height: 160px;
  }
  .cs_height_b165 {
    height: 165px;
  }
  .cs_height_b170 {
    height: 170px;
  }
  .cs_height_b175 {
    height: 175px;
  }
  .cs_height_b180 {
    height: 180px;
  }
  .cs_height_b185 {
    height: 185px;
  }
  .cs_height_b190 {
    height: 190px;
  }
  .cs_height_b195 {
    height: 195px;
  }
  .cs_height_b200 {
    height: 200px;
  }
  .cs_height_b205 {
    height: 205px;
  }
  .cs_height_b210 {
    height: 210px;
  }
}

@media screen and (max-width: 991px) {
  .cs_height_lg_b0 {
    height: 0px;
  }
  .cs_height_lg_b5 {
    height: 5px;
  }
  .cs_height_lg_b10 {
    height: 10px;
  }
  .cs_height_lg_b15 {
    height: 15px;
  }
  .cs_height_lg_b20 {
    height: 20px;
  }
  .cs_height_lg_b25 {
    height: 25px;
  }
  .cs_height_lg_b30 {
    height: 30px;
  }
  .cs_height_lg_b35 {
    height: 35px;
  }
  .cs_height_lg_b40 {
    height: 40px;
  }
  .cs_height_lg_b45 {
    height: 45px;
  }
  .cs_height_lg_b50 {
    height: 50px;
  }
  .cs_height_lg_b55 {
    height: 55px;
  }
  .cs_height_lg_b60 {
    height: 60px;
  }
  .cs_height_lg_b65 {
    height: 65px;
  }
  .cs_height_lg_b70 {
    height: 70px;
  }
  .cs_height_lg_b75 {
    height: 75px;
  }
  .cs_height_lg_b80 {
    height: 80px;
  }
  .cs_height_lg_b85 {
    height: 85px;
  }
  .cs_height_lg_b90 {
    height: 90px;
  }
  .cs_height_lg_b95 {
    height: 95px;
  }
  .cs_height_lg_b100 {
    height: 100px;
  }
  .cs_height_lg_b105 {
    height: 105px;
  }
  .cs_height_lg_b110 {
    height: 110px;
  }
  .cs_height_lg_b115 {
    height: 115px;
  }
  .cs_height_lg_b120 {
    height: 120px;
  }
  .cs_height_lg_b125 {
    height: 125px;
  }
  .cs_height_lg_b130 {
    height: 130px;
  }
  .cs_height_lg_b135 {
    height: 135px;
  }
  .cs_height_lg_b140 {
    height: 140px;
  }
  .cs_height_lg_b145 {
    height: 145px;
  }
  .cs_height_lg_b150 {
    height: 150px;
  }
  .cs_height_lg_b155 {
    height: 155px;
  }
  .cs_height_lg_b160 {
    height: 160px;
  }
  .cs_height_lg_b165 {
    height: 165px;
  }
  .cs_height_lg_b170 {
    height: 170px;
  }
  .cs_height_lg_b175 {
    height: 175px;
  }
  .cs_height_lg_b180 {
    height: 180px;
  }
  .cs_height_lg_b185 {
    height: 185px;
  }
  .cs_height_lg_b190 {
    height: 190px;
  }
  .cs_height_lg_b195 {
    height: 195px;
  }
  .cs_height_lg_b200 {
    height: 200px;
  }
  .cs_height_lg_b205 {
    height: 205px;
  }
  .cs_height_lg_b210 {
    height: 210px;
  }
}

.cs_product.cs_style1 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cs_product.cs_style1 .cs_product_block {
  position: relative;
  background-color: #f2f3f5;
  z-index: 1;
}

.cs_product.cs_style1 .cs_product_lable {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px 10px;
  line-height: 19px;
  color: #fff;
  background-color: #D9001C;
  z-index: 111;
}

.cs_product.cs_style1 .add_to_cart {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  z-index: 11;
  opacity: 0;
}

.cs_product.cs_style1:hover .add_to_cart {
  top: 80%;
  opacity: 1;
}

.cs_product.cs_style1 .cs_product_metas {
  padding: 15px 10px;
}

.cs_product.cs_style1 .cs_product_cart {
  margin-bottom: 5px;
}

.cs_blog.cs_style1 .cs_blog_info {
  padding: 15px 10px;
  padding-bottom: 0;
}

.cs_blog.cs_style1 .cs_blog_title {
  margin-bottom: 15px;
}

.cs_blog.cs_style1 .cs_blog_text {
  margin-bottom: 15px;
}

.add_to_cart.cs_style1 {
  width: 100%;
  height: 50px;
  max-width: 260px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */